

#canvas {
  position: absolute;
  top: 50px;
  left: 50px;
}

#board {
  position: absolute;
  top: 50px;
  left: 50px;
}
.square {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: sandybrown;
  border: 2px solid;
}
.player {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid;
}
