*{
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}
body{
    background-color: #F7F6C2;
    margin: 50px;
    
}
.clrr{
    color:#2B6A6C;
}
canvas
{
    position: absolute;
    z-index:-111111;
    width:100%;
    height:100%;
}
#question{
    font-size: 20px;
    color: #97B8F6;
}
.hide-canvas
{
    display: none;
}
.guess{
    font-size: 70px;
    letter-spacing: 20px;
    align-items: center;
    
    color: black;
}
h1{
    color: #404040;
}
#alert{
    color: red;
}
.hangman{
    width: 200px;
    height: 300px;
    background-color: white;
}
#hangmanImg
{
    width: 200px;
    height: 300px;  
}
.inputForm{
    width: 60%;
    background-color: #CFC7C5;
    color: #404040;
    border: 5px soild #225354;
    padding: 15px;
}