*{
	padding:0px;
	margin: 0 auto;
}
.wrapper
{
	width:100%;
	background: url('../images/sea.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height:100vh; 
}
canvas {
	position: absolute;
	z-index:-1999;
  width:100%;
  height:100%;
}
.grounds
{
	overflow: hidden;
	position: fixed;
	bottom:0px;
	width:100%;
}
.ground1
{

	margin:0px;
	width:35%;
	height: 160px;
	background-color: #a4764a;
	float:left;
}
.ground2
{
	margin:0px;
	width:35%;
	height: 160px;
	background-color: #a4721a;
	float:right;
}

.firstp
{
	display:inline-grid !important;

}
.secondp
{
	display: inline-grid !important;
	margin-left: 80px;
}
.removep
{
	display:none;
}
span.cann img 
{
	height:100px;
	width: 80px;
}
span.saint img 
{
	height:100px;
	width: 70px;
}
span#boat img
{
	z-index:1000;
	width: 200px;
	margin-bottom:-20px;
	margin-left: -10px;
}

span
{
	display:inline-block;
}
#in-boat .cann , #in-boat .saint
{
	display:none;
	position: absolute;
    top: 0px;
    z-index: -1;
}
