*{
    box-sizing: border-box;
}
body{
    margin:0px;
}
a
{
    text-decoration: none
}
a:hover
{
text-decoration: none;

}
.wrapper
{
    width: 100%;
}
.container
{
    width: 1200px;
    margin: 0px auto;
}
/* board */
.board
{
    padding: 10px;
    float: left;
    width: 60%;
    border-right:solid 2px black;
}
.bg
{
    background-image:url("img/board.png");
    height:600px;
    width:600px; 
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

}
/* blue */
.r1
{
    position: absolute;
    left:60px;
    top:60px;
}
.r2
{
    position: absolute;
    left: 140px;
    top:60px;
}
.r3
{
    position: absolute;
    left: 60px;
    top:140px;
}
.r4
{

    position: absolute;
    left: 140px;
    top:140px;
}
/* green */
.g1
{

    position: absolute;
    left: 420px;
    top:60px;
}
.g2
{

    position: absolute;
    left: 500px;
    top:60px;

}
.g3
{

    position: absolute;
    left: 420px;
    top:140px;
}
.g4
{

    position: absolute;
    left:500px;
    top:140px;
}
/* blue */
.b1
{

    position: absolute;
    left: 60px;
    top:420px;
}
.b2
{

    position: absolute;
    left: 140px;
    top:420px;
}
.b3
{

    position: absolute;
    left: 60px;
    top:500px;
}
.b4
{

    position: absolute;
    left: 140px;
    top:500px;
}
/* yellow */
.y1
{

    position: absolute;
    left: 420px;
    top:420px;
}
.y2
{

    position: absolute;
    left: 500px;
    top:420px;
}
.y3
{

    position: absolute;
    left: 420px;
    top:500px;
}
.y4
{

    position: absolute;
    left: 500px;
    top:500px;
}
/* menu */
.menu
{
    padding: 10px;
    float: left;
    width: 40%;
}
.display
{
    width: 100%;
    height: 200px;
    font-size: 40px;
    text-align: center;
    color: cadetblue;    
}
.button
{
    width: 100%;
    height: 35px;
    background: antiquewhite;
    font-size: 25px;
    color: brown;
}
